// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe,
figure {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    @include primaryFont;
    font-size: 1.6rem;
    margin: 0; 
    color: $black;
    overflow-x: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    margin-bottom: 1rem;
}

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}

.img-wrapper img {
    object-fit: cover;
    max-height: 100%;
    height: 100%;
    width: 100%;
}