$primary: #00BA89;
$secondary: #85CB33;

$selection: #02dba1;

$font-color: #636363;
$btn-bg: linear-gradient(180deg, #00BA89 0%, #00BA34 100%);
$btn-bg-hover: linear-gradient(180deg, #00BA34 0%, #00BA34 100%);
$btn-bg-active: linear-gradient(180deg, #008F28 0%, #00BA34 100%);
$btn-shadow: 0px 15px 20px #06982F;
$btn-shadow-hover: 0px 5px 10px #06982F;
$accordion-bg: #F7F7F7; 

$white: #fff;
$gray: #D1DCE8;
$black: #373737;

$iphone-5: 339px;
