<% var data = {
  title: "«PROресурс» | Новый курс по восстановлению энергии от Андрея Гукова"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<header>
  <div class="gukov-main">
    <img class="lazy" data-src="img/mask-comp.png" alt="gukov" >
  </div>
  <!-- /.gukov-main -->
  <div class="container">
    <div class="column">
      <h1>«PROресурс»</h1>
      <div class="h2">Новый курс по восстановлению энергии от Андрея Гукова</div>

      <div class="main-feature">
        <div class="main-feature__img">
          <img src="img/feature-1.svg" alt="В курсе">
        </div>
        <!-- /.main-feature__img -->
        <div class="main-feature__text">
          <div class="h3">В курсе:</div>
          <ul class="primary-ul">
            <li>28 видеоуроков с разбором ошибок</li>
            <li>Рекомендации по питанию</li>
            <li>Консультации по сну</li>
          </ul>
        </div>
        <!-- /.main-feature__text -->
      </div>
      <!-- /.main-feature -->

      <div class="main-feature">
        <div class="main-feature__img">
          <img src="img/feature-2.svg" alt="Вы научитесь">
        </div>
        <!-- /.main-feature__img -->
        <div class="main-feature__text">
          <div class="h3">Вы научитесь:</div>
          <ul class="primary-ul">
            <li>Правильно дышать</li>
            <li>Правильно заниматься</li>
            <li>Правильно спать</li>
          </ul>
        </div>
        <!-- /.main-feature__text -->
      </div>
      <!-- /.main-feature -->

      <div class="couple">
        <div data-fancybox data-src="#get-course-modal" href="javascript:;" class="btn btn-primary">
          <span>Записаться на курс</span>
        </div>
        <!-- /.btn btn-primary -->
        <p class="small">Старт нового потока - 10 февраля!</p>
      </div>
      <!-- /.couple -->
     
    </div>
    <!-- /.column -->

    <div class="social-links">
      <a href="https://www.instagram.com/dr_gukov/" class="social-links__link" target="_blank">
        <img src="img/social/inst.svg" alt="inst">
      </a>
      <a href="https://www.facebook.com/drgukov.ru" class="social-links__link" target="_blank">
        <img src="img/social/fb.svg" alt="fb">
      </a>
      <a href="https://vk.com/gukovandrey" class="social-links__link" target="_blank">
        <img src="img/social/vk.svg" alt="vk">
      </a>
      <a href="https://www.youtube.com/channel/UCX3AKYd7aDJGbNHMel3Kv8g" class="social-links__link" target="_blank">
        <img src="img/social/youtube.svg" alt="youtube">
      </a>
    </div>
    <!-- /.social-links -->
  </div>
  <!-- /.container -->
</header>

<div class="section" id="about">
  <div class="container">
    <div class="row green-flower">
      <div class="primary-card">
        <div class="youtube-wrapper">
          <div class="youtube" data-embed="MndEZIKQMOY">
              <div class="label with-arrow">
                  <img class="lazy" data-src="img/labels/watch-video.png" alt="">
              </div>
              <!-- /.label with-arrow -->
              <div class="play-button">
                  <object type="image/svg+xml" data="img/icons/play.svg"></object>
              </div>
          </div>
        </div>
        <!-- /.youtube-wrapper -->
      

        <div class="content">
          <div class="h2 decor">Коротко о курсе «PROресурс»:</div>
          <p>Курс Андрея Гукова «PROресурс» - для тех, кому нужна энергия каждый день, кто хочет быть в форме, но при этом не тратить время и деньги на фитнес клуб. Все упражнения можно выполнить дома, на работе и даже в пути в машине. Минимум времени. Минимум оборудования. Простые упражнения по 3-5 мин. Быстрый результат уже с первой недели занятий.</p>
          <p>За четыре недели вы научитесь правильно дышать, расслаблять диафрагму, насыщать организм недостающим СО2, устранять основные зажимы и перекосы.  Научитесь правильно просыпаться, делать утреннюю и вечернюю зарядку, будет показан ряд качественных упражнений в течение рабочего дня и во время стояния в пробках или на парковке, подготовка ко сну с полным восстановлением организма.</p>
          <p>Научитесь правильно просыпаться, делать утреннюю и вечернюю зарядку, будет показан ряд качественных упражнений в течение рабочего дня и во время стояния в пробках или на парковке, подготовка ко сну с полным восстановлением организма. </p>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.primary-card -->
      
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.section -->

<!-- <div class="section lazy" id="gukov-reviews" data-src="img/gukov-bg.jpg"> -->
<div class="section" id="gukov-reviews">
  <div class="container">
      <div class="row">
        <div class="column-text">
          <div class="h2 decor">Отзывы о курсе Андрея Гукова:</div>
          <p>Андрей Гуков - мануальный терапевт и невролог, который помогает сотням людей, в т.ч. звездам.	</p>
          <p>Среди них Полина Гагарина, Лера Кудрявцева, Аглая Тарасова и многие другие, Ирина Дубцова, Митя Фомин и многие другие.</p>
          <p>В своем курсе он делится секретами простых но очень эффективных упражнений, для дома, офиса и даже для машины, пока едите за рулем.</p>

          <img data-src="img/labels/click-for-scale.png" alt="hint" class="hint lazy">
        </div>
        <!-- /.column-text -->
        <div class="column-gukov">
          <div class="gukov label">
            <img class="lazy" data-src="img/gukov-in-chair.png" alt="gukov-in-chair">
          </div>
          <!-- /.img-wrapper -->
        </div>
        <!-- /.column-gukov -->
      </div>
      <!-- /.row -->
      <div class="lightbox-cards">
        <div class="lightbox-card">
          <div class="avatar">
            <img class="lazy" data-src="img/stars/gagarina.jpg" alt="gagarina">
          </div>
          <div class="text">
            <div class="h5">Полина Гагарина</div>
            <span>Певица, композитор, актриса, модель</span>
          </div>
          <div class="phone">
            <img class="lazy" data-src="img/stars/gagarina-phone-sm.jpg" alt="gagarina-phone">
          </div>
        </div>
        <!-- /.lightbox-card -->
        <div class="lightbox-card">
          <div class="avatar">
            <img class="lazy" data-src="img/stars/afrikantova.jpg" alt="afrikantova">
          </div>
          <div class="text">
            <div class="h5">Марина Африкантова</div>
            <span>Участница проекта Дом2
              на ТНТ</span>
          </div>
          <div class="phone">
            <img class="lazy" data-src="img/stars/gagarina-phone-sm.jpg" alt="afrikantova-phone">
          </div>
        </div>
        <!-- /.lightbox-card -->
        <div class="lightbox-card">
          <div class="avatar">
            <img class="lazy" data-src="img/stars/kudryavceva.jpg" alt="kudryavceva">
          </div>
          <div class="text">
            <div class="h5">Лера Кудрявцева</div>
            <span>Телеведущая</span>
          </div>
          <div class="phone">
            <img class="lazy" data-src="img/stars/gagarina-phone-sm.jpg" alt="kudryavceva-phone">
          </div>
        </div>
        <!-- /.lightbox-card -->
        <div class="lightbox-card">
          <div class="avatar">
            <img class="lazy" data-src="img/stars/kulakova.jpg" alt="kulakova">
          </div>
          <div class="text">
            <div class="h5">Светлана Кулакова</div>
            <span>Cпортсменка, чемпионка мира по боксу</span>
          </div>
          <div class="phone">
            <img class="lazy" data-src="img/stars/gagarina-phone-sm.jpg" alt="kulakova-phone">
          </div>
        </div>
        <!-- /.lightbox-card -->
        <div class="lightbox-card">
          <div class="avatar">
            <img class="lazy" data-src="img/stars/tarasova.jpg" alt="tarasova">
          </div>
          <div class="text">
            <div class="h5">Аглая Тарасова</div>
            <span>Актриса</span>
          </div>
          <div class="phone">
            <img class="lazy" data-src="img/stars/gagarina-phone-sm.jpg" alt="tarasova-phone">
          </div>
        </div>
        <!-- /.lightbox-card -->
        <div class="lightbox-card">
          <div class="avatar">
            <img class="lazy" data-src="img/stars/others.jpg" alt="others">
          </div>
          <div class="text">
            <div class="h5">Другие довольные клиенты</div>
          </div>
          <div class="phone">
            <img class="lazy" data-src="img/stars/gagarina-phone-sm.jpg" alt="others-phone">
          </div>
        </div>
        <!-- /.lightbox-card -->
      </div>
      <!-- /.lightbox-cards -->
  </div>
  <!-- /.container -->
</div>
<!-- /#gukov-reviews.section -->

<div class="section" id="symptoms">
  <div class="container">
    <div class="h2 decor">Марафон вам будет полезен, если вы у себя постоянно
      или периодически обнаруживаете:</div>
      <div class="row">
      <div class="symptoms-card">
       
        <img class="head-img lazy" data-src="img/symptoms/s-1.jpg" alt="symptoms">
       
        <div class="body">
          <ul class="primary-ul">
            <li>Отсутствие сил и энергии</li>
            <li>Головные боли, мигрени</li>
            <li>Боль в шее</li>
            <li>Боль в пояснице</li>
            <li>Боль в грудном отделе позвоночника</li>
            <li>Боль в суставах</li>
          </ul>
        </div>
        <!-- /.body -->
      </div>
      <!-- /.symptoms-card -->
      <div class="symptoms-card">
        <img class="head-img lazy" data-src="img/symptoms/s-2.jpg" alt="symptoms">
        <div class="body">
          <ul class="primary-ul">
            <li>Сутулость</li>
            <li>Скрученный таз</li>
            <li>Проблемы с пищеварением</li>
            <li>Остеохондроз, протрузии, грыжи и другие заболевания позвоночника, не в период обострения и острой боли.</li>
          </ul>
        </div>
        <!-- /.body -->
      </div>
      <!-- /.symptoms-card -->
      <div class="symptoms-card">
        <img class="head-img lazy" data-src="img/symptoms/s-3.jpg" alt="symptoms">
        <div class="body">
          <ul class="primary-ul">
            <li>Асиметрия ног</li>
            <li>Асимметрия тела</li>
            <li>Асимметрия лица</li>
            <li>Бессонница, разбитое состояние по утрам</li>
            <li>Холка</li>
            <li>Завернутые плечи</li>
          </ul>
        </div>
        <!-- /.body -->
      </div>
      <!-- /.symptoms-card -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /#symptoms.section -->

<div class="section" id="important">
  <div class="container">
    <img data-src="img/important.png" alt="important" class="important lazy">
    <div class="h5">Курс «PROресурс» построен таким образом, что бы после него <br>
      Вы сами могли удерживать здоровое состояние организма!</div>
  </div>
  <!-- /.container -->
</div>
<!-- /#important.section -->

<div class="section" id="you-got">
  <div class="container">
    <div class="h2 decor centered">Вы получите:</div>

    <div class="features">
      <div class="feature">
        <img class="lazy" data-src="img/digits/1.png" alt="1">
        <p>Короткие простые зарядки, экономящие Ваше время</p>
      </div>
      <!-- /.feature -->
      <div class="feature">
        <img class="lazy" data-src="img/digits/2.png" alt="2">
        <p>Определите укороченную (ленивую) ногу и способы ее коррекции, встроенные в утреннюю гимнастику</p>
      </div>
      <!-- /.feature -->
      <div class="feature">
        <img class="lazy" data-src="img/digits/3.png" alt="3">
        <p>Разгрузка диафрагмы - улучшит Ваше дыхание</p>
      </div>
      <!-- /.feature -->
      <div class="feature">
        <img class="lazy" data-src="img/digits/4.png" alt="4">
        <p>Освобождение давления на блуждающий нерв улучшит Ваше психо-эмоциональное состояние</p>
      </div>
      <!-- /.feature -->
    </div>
    <!-- /.features -->
    <div class="h5 monograms">
      В течение прохождения вы пройдёте по 4 ступеням - неделям. <br>
      На выходе вы получите скорректированное структурально тело. <br>
      И подробные инструкции как сохнранить это состояние.	<br>
    </div>
    <!-- /.h5 monograms -->

    <div class="some-examples">
      <div class="row green-flower">
        <div class="primary-card">           
          <div class="content">
            <div class="h2 decor">Посмотрите примеры некоторых упражнений:</div>
            
            <div class="inner-row">
              <div class="couple">
                <div class="h5">Старт нового потока - 10 февраля!</div>
                <div data-fancybox data-src="#get-course-modal" href="javascript:;" class="btn btn-primary">
                  <span>Записаться на курс</span>
                </div>
              </div>
              <!-- /.couple -->
              <div class="img-wrapper">
                <img class="lazy" data-src="img/icons/time.svg" alt="time">
              </div>
              <!-- /.img-wrapper -->
            </div>
            <!-- /.inner-row -->
          </div>
          <!-- /.content -->

          <div class="youtube-wrapper">
            <div class="youtube" data-embed="MndEZIKQMOY">
                <div class="label with-arrow">
                    <img class="lazy" data-src="img/labels/exersice-examples.png" alt="">
                </div>
                <!-- /.label with-arrow -->
                <div class="play-button">
                    <object type="image/svg+xml" data="img/icons/play.svg"></object>
                </div>
            </div>
          </div>
          <!-- /.youtube-wrapper -->
        </div>
        <!-- /.primary-card -->
        
      </div>
      <!-- /.row -->
    </div>
    <!-- /.some-examples -->
  </div>
  <!-- /.container -->
</div>
<!-- /#you-got.section -->

<div id="price" class="section">
  <div class="container">
    <div class="h2 decor centered">Вы получите:</div>

    <div class="courses">
      <div class="course">
        <img src="img/price-1.jpg" alt="standart" class="head-img">
        <div class="body">
          <div class="h3">Основной пакет</div>
          <ul class="primary-ul">
            <li>4 недельных комплекса видеоуроков (утро, день и вечер)</li>
            <li>Рекомендации по питанию</li>
            <li>Рекомендации по сну</li>
            <li>Инструкция по удержанию состояния</li>
          </ul>
          <!-- /.primary-ul -->
        </div>
        <!-- /.body -->
        <div class="foot">
          <div class="h3">5 990 руб.</div>
          <a href="#" target="_blank" class="btn btn-primary">
            <span>Перейти к оплате</span>
          </a>
        </div>
        <!-- /.foot -->
      </div>
      <!-- /.course -->

      <div class="course">
        <img src="img/price-2.jpg" alt="plus" class="head-img">
        <div class="body">
          <div class="h3">Расширенный пакет</div>
          <ul class="primary-ul">
            <li>4 недельных комплекса видеоуроков (утро, день и вечер)</li>
            <li>Рекомендации по питанию</li>
            <li>Рекомендации по сну</li>
            <li>Инструкция по удержанию состояния</li>
          </ul>
          <!-- /.primary-ul -->
          <div class="skype">Скайп-консультация с автором курса (30 мин)</div>
        </div>
        <!-- /.body -->
        <div class="foot">
          <div class="h3">10 990 руб.</div>
          <a href="#" target="_blank" class="btn btn-primary">
            <span>Перейти к оплате</span>
          </a>
        </div>
        <!-- /.foot -->
      </div>
      <!-- /.course -->
    </div>
    <!-- /.courses -->
  </div>
  <!-- /.container -->
</div>
<!-- /#price.section -->



<%= _.template(require('./../includes/footer.html').default)(data) %>